body{
	background: white;
}

h1{
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 20px;
}

/*RUBRIK, LOGO (!) omg pls someone fix logo (!) */

header{
	font-size: 10vh;
	font-family: sans-serif;
	color: #000;
	height: 11vh;
	padding-left: 15px;
}

/* MENY */

nav{
	background-image: url(../img/nav.png);
	height: 47px;

}

/* CONTAINER */

.wrapper{
	border: 2px solid black;
	width: 80%;
	height: 600px;
	margin: 0 auto;
	margin-top: 20px;

}



/* FORM STYLING */


.formWrapper{
    /*border: solid;
    border-color: black;*/
    width: 400px;
    height: 400px;
    padding: 10px;

    margin: auto;
  	position: absolute;
 	top: 10%; left: 0; bottom: 0; right: 0;
}

.formRight{
	float: right;
	z-index: 90;
}

.formLeft{
	float: left;
	z-index: 90;
}

.bottom1{
	margin-top: 50px;
}

.bottom2{
	margin-top: 97px;
}

form input{
	margin-bottom: 10px;
}