body{
	background: white;
}

h1{
	font-size: 4vh;
	margin-top: 0.67em;
    margin-bottom: 0.67em;
	font-weight: bold;
	margin-bottom: 20px;
}

h2{
	font-size: 3vh;
	font-weight: bold;
	margin-top: 15px;
	margin-bottom: 10px;
}

/*RUBRIK, LOGO (!) omg pls someone fix logo (!) */

header{
	font-size: 10vh;
	font-family: sans-serif;
	color: #000;
	height: 11vh;
	padding-left: 15px;
}

.logo{
	height: 45px;
	width: auto;
}

/* MENY */

nav{
	background-image: url(../img/nav.png);
	height: 47px;
	position: relative;
	top: 8px;
	

}

ul{

}

li{
	display: inline-block;
	margin:10px;
}

/* Link Styling */

a{
	font-size:20px;
	margin: 20px;
	text-decoration: none;
}

	a:link {
	    color: white;
	}

	/* visited link */
	a:visited {
	    color: blue;
	}

	/* mouse over link */
	a:hover {
	    color: blue;
	}

	/* selected link */
	a:active {
	    color: white;
	}

	input[type=text]
	{
	    border-radius:5px;
	    border-color: Grey;
	}

	

form{
	height: 25px;
	width: 150px;
	margin-left: 20px;

}


/* CONTAINER */

.wrapper{
	border: 2px solid black;
	width: 80%;
	height: 600px;
	margin: 0 auto;
	margin-top: 20px;

}

/* FORM STYLING */

.form_wrapper{
    width: 400px;
    height: 400px;
    padding: 10px;
    margin: auto;
  	position: fixed;
 	top: 10%; left: 0; bottom: 0; right: 0;
}

.form_wrapper2{
    width: 400px;
    height: 400px;
    padding: 10px;
    margin: auto;
  	position: fixed;
 	top: 60%; left: 0; bottom: 0; right: 0;
}

.form_right{
	float: right;
}

.form_left{
	float: left;
}

.form_bottom{
	top: 300px;
	clear: both;
}

.bottom1{
	margin-top: ;
	float: right;
}

.bottom2{
	margin-top: 97px;
}

form input{
	margin-bottom: 10px;
}

/* temporary output styling */

/*.output{
	border: 2px solid gray;
	width: 200px;
}*/


/* button styling */

.admin{
	position: fixed;
	top:20px;
	right: 200px;
	color: blue;
	font-size: 30px;
}

.kund{
	position: fixed;
	top:20px;
	right: 300px;
	color: blue;
	font-size: 30px;
}

input[type=button]
	{
		color: white;
		background-color: #00008B;
		border-radius: 5px;
		height: 30px;
		width: 50px;
	}

input[type=submit]
	{
		color: white;
		background-color: #00008B;
		border-radius: 5px;
		height: 20px;
		width: 80px;
	}



.search{
	position: relative;
	top: 10px;
	left: 20px;
}